<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles.css">
</head>
<!-- <nav>
    <li><a href="/signup" class="btn">Sign up</a></li>
</nav> -->
<body class="auth-body">
    <form action="/login" class="contact-page" method="POST">
        <label for="signup">Login</label>
        <input type="text" id="signup" name="email" placeholder="email" required>
        <div class="email error"></div>
        <input type="password" id="password" name="password" placeholder="Password" required>
        <div class="password error"></div>
        <button>Login</button>
        <div class="btn-wrapper">
            <a href="/signup" class="btn">Sign up if not registered...</a>
        </div>
       
      </form>

      <script>
        const form = document.querySelector('form')
        const emailError = document.querySelector('.email');
        const passwordError = document.querySelector('.password')
        form.addEventListener('submit', async (e) => {
            e.preventDefault()

              //reset errors
              emailError.textContent = ''
              passwordError.textContent = ''
              
              // get values
              const email = form.email.value;
              const password = form.password.value;

              try {
                  const res = await fetch('/login', {  
                  method: 'post',
                  headers: {
                      'Content-Type': 'application/json',
                  },
                  body: JSON.stringify({ email, password }),
              })
              const data = await res.json();
              if(data.errors){
                  emailError.textContent  = data.errors.email;
                  passwordError.textContent  = data.errors.password;
              }

              if(data.user){
                  location.assign('/')
              }
            }catch(err){
                console.log(err)
            }
        })
    </script>
</body>
</html>