<nav class="main-nav">
    <div class="site-title">
      <a href="/"><h1 class = 'blog-name'>Kharkiv Blog</h1></a>
      <p class="hero-city">The hero city
        <a href="https://en.wikipedia.org/wiki/Ukraine">
          <img src="/ukraine.svg" class="ukraine-icon" alt="Ukraine flag">
       </a>
      </p>
     
    </div>
    <div class="player-wrapper">
      <a class="mirror-stream-container" href="https://en.wikipedia.org/wiki/Kharkiv" >
        <img src="/mirror-stream.jpg" class="mirror-stream" alt="Kharkiv mirror-stream">
     </a>
      <audio controls>
        <source src="/moby-new_dawn.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
      </audio>
    </div>
   
   <div class="navbar">
    <div>
      <li>Welcome, <%= user.nickname %></li>
    </div>
    <div class="dropdown">
      <button class="dropbtn">Menu
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <% if (user){ %>
          <a href="/">Blogs</a>
          <a href="/about">About</a>
          <a href="/blogs/create">New Blog</a>
          <a href="/contact-us">Contact us</a>
          <a href="/logout" class="btn">Log out</a>
        <% } else { %>
          <a href="/login" class="btn">Log in</a>
          <a href="/signup" class="btn">Sign up</a>
          <% } %>
      </div>
    </div>
  </div>
  </nav>