<!DOCTYPE html>
<html lang="en">

  <%- include('./partials/head.ejs')%>

<body>

  <%- include('./partials/nav.ejs')%>
      
  <div class="about content">
    <h2>About Us</h2>
    <p><b>Kharkiv</b>, also known as Kharkov, is the second-largest city and municipality in Ukraine. Located in the northeast of the country, it is the largest city of the historic Slobozhanshchyna region. Kharkiv is the administrative centre of Kharkiv Oblast and of the surrounding Kharkiv Raion. The latest population is 1,433,886 (2021 est.). The city is currently in a state of war against the Russian Federation.</p>
    <br>
    <p><b>Kharkiv was founded in 1654</b> as Kharkiv fortress, and after these humble beginnings, it grew to be a major centre of industry, trade and Ukrainian culture in the Russian Empire. At the beginning of the 20th century, the city was predominantly Russian in population, but after the Soviet government's policy of Ukrainization the city became populated mainly by Ukrainians with a significant number of Russians. Kharkiv was the first capital of the Ukrainian Soviet Socialist Republic, <b>from December 1919 to January 1934</b>, after which the capital relocated to Kyiv.</p>
    <br>
    <p><b>Industry</b> plays a significant role in Kharkiv's economy, specialized primarily in <b>machinery and electronics</b>. There are hundreds of industrial facilities throughout the city, including the Morozov Design Bureau and the Malyshev Tank Factory (leaders in world tank production from the 1930s to the 1980s); Khartron (aerospace, nuclear power plants and automation electronics); Turboatom (turbines for hydro-, thermal- and nuclear-power plants); and Antonov (the multipurpose aircraft manufacturing plant).</p>
  </div>

  <%- include('./partials/footer.ejs')%>
  
</body>
</html>